<div id="about" class="row">
  <div class="container sections">
    <div class="col s12 title-2">
      <h2>About Us</h2>
      <br>
      <div class="col s2 hr-line">
        <hr>
      </div>
    </div>
    <div class="col s12">
      <p class="center">
        We are a local family business here in the Greater Nashville Area. At EspinozaBrand good service is not allowed, only amazing service. For us, it is essential to treat our customers like family to give them an amazing experience. The best thing about us is that we love and enjoy doing what we do!
      </p>
    </div>
  </div>
</div>
