<div id="freeEstimate" class="row">
  <div class="container">
    <div class="col s12 m12 l12">
      <h3>Get your personalized website today! Call Us at:
        <br>
        <b>615-337-6981</b></h3>
    </div>
  </div>
</div>
