<div id="services" class="row">
  <div class="container">
    <div class="col s12 sections">
      <div class="col s12 title-1">
        <h2>Our Services</h2>
        <br>
        <div class="col s2 hr-line">
          <hr>
        </div>
      </div>

      <div class="col s12 m3 l3 individual_services">
        <div class="card">
          <div class="col s8 m6 l6 center-column">
            <img class="responsive-img" src="assets/web_development_icon.png">
          </div>
          <h4 class="card-title center azul-text">Web Development</h4>
        </div>
      </div>

      <div class="col s12 m3 l3 individual_services">
        <div class="card">
          <div class="col s8 m6 l6 center-column">
            <img class="responsive-img" src="assets/web_design_icon.png">
          </div>
          <h4 class="card-title center azul-text">Web Design</h4>
        </div>
      </div>

      <div class="col s12 m3 l3 individual_services">
        <div class="card">
          <div class="col s8 m6 l6 center-column">
            <img class="responsive-img" src="assets/graphic_design_icon.png">
          </div>
          <h4 class="card-title center azul-text">Graphic Design</h4>
        </div>
      </div>

      <div class="col s12 m3 l3 individual_services">
        <div class="card">
          <div class="col s8 m6 l6 center-column">
            <img class="responsive-img" src="assets/seo_icon.png">
          </div>
          <h4 class="card-title center azul-text">SEO</h4>
        </div>
      </div>
    </div>
  </div>
</div>
