// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "imports";
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default){
  color: #fff;
}
 input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
   color: #fff;
 }


input, textarea{
  border-bottom: 2px solid #fff !important;
}
.input-field label{
  color: #cecece !important;
  letter-spacing: 2px !important;
}

input:focus, textarea:focus{
    border-bottom: 1px solid $verde !important;
    box-shadow: 0 1px 0 0 $verde !important;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
}
