// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "imports";
header.home-bg{
  background-image: url('/assets/stand_out_bg2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  .bg-text{
    margin-top: 8%;
    span{
      font-style: italic;
    }
    h1{
      font-weight: bold;
      color: $verde;
      text-shadow: 8px 5px $azul;
    }
    .azul{
      @include transition(all, .4s);
      width: 100%;
      &:hover{
        background: $azul;
        transform: scale(1.1);
        @include transition(all, .4s);
        box-shadow: 0px 10px 7px -3px #cecece;
        z-index: 1;
      }
    }
    .verde{
      @include transition(all, .4s);
      width: 100%;
      &:hover{
        background: $verde;
        transform: scale(1.1);
        @include transition(all, .4s);
        box-shadow: 0px 10px 7px -3px #cecece;
        z-index: 1;
      }
    }
  }
}


//About Us Section
#about{
  background: $amarillo;
  margin-bottom: 0px;
}
//Services Section
#services{
  background: $gris;
  margin-bottom: 0px;
  .individual_services{
    .card{
      padding-top: 50px;
      padding-bottom: 50px;
      padding-right: 10px;
      padding-left: 10px;
      @include transition(all, .4s);
      h4.card-title{
        color: $azul;
        font-weight: 500;
        font-size: 20px;
      }
      &:hover{
        box-shadow:4px 9px 20px 0px #bdbdbd;
        transform: scale(1.1);
        border-top: 6px solid $verde;
        border-left: 6px solid $verde;
        border-top-left-radius: 15px;
        @include transition(all, .4s);
        z-index: 1;
      }
    }
  }
}

#freeEstimate{
  background: #fff;
  padding-top: 3%;
  padding-bottom: 3%;
  margin: 0px !important;
  .container div{
    h3{
      color: $azul;
      b{
        color: $amarillo !important;
        font-weight: bold;
      }
    }
  }
}

//Contact Section
#contact{
  background: $azul;
  margin-bottom: 0px;
}
