@import "imports";
.navbar-fixed nav{
  background-color: $azul;
  .brand-logo img{
     width: 60px;
     margin-top: 5px;
  }
}

.footer{
  background: $amarillo;
  padding-top: 1px;
  padding-bottom: 1px;
  p{
    color: $azul;
    text-align: left;
  }
}
